<a href="https://colab.research.google.com/github/Kittipoomj/data-science-bootcamp-8/blob/main/HW_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### HW01 - pao ying chub game
### HW02 - class ATM at least 5 methods
### HW03 - find public API and use python to get data
### HW04 - Create Launched Year column in a dataframe

In [ ]:
## HW01 - Pao Ying Chub Game

In [2]:
import random

# List of possible moves
moves = ["rock", "paper", "scissors"]

# Initialize the scores
player_score = 0
computer_score = 0

# Start the game
while True:
    # Get the player's move
    player_move = input("Choose rock, paper, or scissors: ")

    # Get the computer's move
    computer_move = random.choice(moves)

    # Compare the moves and determine the winner
    if player_move == computer_move:
        print("It's a tie!")
    elif player_move == "rock":
        if computer_move == "scissors":
            print("You win!")
        else:
            print("Computer wins!")
    elif player_move == "paper":
        if computer_move == "rock":
            print("You win!")
        else:
            print("Computer wins!")
    elif player_move == "scissors":
        if computer_move == "paper":
            print("You win!")
        else:
            print("Computer wins!")

    # Update the scores
    if player_move == computer_move:
        pass
    elif player_move == "rock" and computer_move == "scissors":
        player_score += 1
    elif player_move == "paper" and computer_move == "rock":
        player_score += 1
    elif player_move == "scissors" and computer_move == "paper":
        player_score += 1
    else:
        computer_score += 1

    # Check if the game is over
    if player_score == 3 or computer_score == 3:
        break

    # Ask the player if they want to play again
    play_again = input("Do you want to play again (y/n)? ")
    if play_again != "y":
        break

# Print the final scores
print("Final scores:")
print("Player:", player_score)
print("Computer:", computer_score)

Choose rock, paper, or scissors: rock
Computer wins!
Do you want to play again (y/n)? y
Choose rock, paper, or scissors: rock
Computer wins!
Do you want to play again (y/n)? y
Choose rock, paper, or scissors: rock
Computer wins!
Final scores:
Player: 0
Computer: 3

In [ ]:
## HW02 - Class ATM [At least 5 method]

In [ ]:
class ATM:
    """This class represents an ATM."""

    def __init__(self, balance):
        """Initialize the ATM with the given balance."""
        self.balance = balance

    def deposit(self, amount):
        """Deposit the given amount into the ATM."""
        self.balance += amount

    def withdraw(self, amount):
        """Withdraw the given amount from the ATM."""
        if amount > self.balance:
            raise ValueError("Insufficient funds")
        self.balance -= amount

    def transfer(self, to_atm, amount):
        """Transfer the given amount from this ATM to the other ATM."""
        if amount > self.balance:
            raise ValueError("Insufficient funds")
        self.balance -= amount
        to_atm.balance += amount

    def get_balance(self):
        """Get the current balance of the ATM."""
        return self.balance

    def change_pin(self, old_pin, new_pin):
        """Change the ATM's PIN."""
        if self.check_pin(old_pin):
            self.pin = new_pin
        else:
            raise ValueError("Incorrect PIN")

In [ ]:
## HW03 - Find Public API and use python to get data

In [ ]:
import requests
import time

starships = [ ]

for i in range(10) :
    url = f"https://swapi.dev/api/starships/{i+1}"
    resp = requests.get(url)

    if resp.status_code == 200:
        json_data = resp.json()
        starships.append(
            (json_data["name"],
            json_data["model"])
        )

    # break a second
    time.sleep(1)


print(starships)

[('CR90 corvette', 'CR90 corvette'), ('Star Destroyer', 'Imperial I-class Star Destroyer'), ('Sentinel-class landing craft', 'Sentinel-class landing craft'), ('Death Star', 'DS-1 Orbital Battle Station'), ('Millennium Falcon', 'YT-1300 light freighter')]

In [ ]:
## HW04 - Create Launched Year column in a dataframe [Database IMDB]

In [ ]:
# install package
!pip install gazpacho

Requirement already satisfied: gazpacho in /usr/local/lib/python3.10/dist-packages (1.1)

In [ ]:
# import function
from gazpacho import Soup
import requests

In [ ]:
# web scraping
url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"
headers = { "Accept-Language": "en-US"}
html = requests.get(url, headers=headers)
imdb = Soup(html.text)

In [ ]:
## list comprehension
titles = imdb.find("h3", {"class" : "lister-item-header"})
clean_titles = [title.strip() for title in titles]

clean_titles

In [ ]:
## get year
##
years =imdb.find("span", {"class" : "lister-item-year"})
clean_years = [year.strip() for year in years]

clean_years

In [ ]:
## get rating from the website
## div: ratings-imdb-rating

ratings = imdb.find("div", {"class": "ratings-imdb-rating"})
clean_ratings = [ float(rating.strip( )) for rating in ratings]

clean_ratings

In [ ]:
import pandas as pd

# create dataframe
movie_database = pd.DataFrame(data = {
    "title" : clean_titles ,
    "rating" : clean_ratings,
    "year" : clean_years
})

# print first five rows
movie_database.head()

                                title  rating    year
0  1. The Shawshank Redemption (1994)     9.3  (1994)
1             2. The Godfather (1972)     9.2  (1972)
2           3. The Dark Knight (2008)     9.0  (2008)
3          4. Schindler's List (1993)     9.0  (1993)
4     5. The Godfather Part II (1974)     9.0  (1974)